*{
	padding: 20px;
	margin: 15px;
	alig-items: center;
	font-family: ArialBlack;
}
h1{
	color: #fff;
	font-size: 15px;
}

header{
	margin: 50px;
	padding: 20px;
	border-radius: 10px;
	background: #000;
}
